.container {
  background-color: lightsteelblue;
  width: 100%;
  height: 100%;
}
.wrapper {
  color: white;
  height: 20%;
  width: 100%;
  padding: 8px 30px;
}
.private {
  width: 80%;
  float: left;
}
.font {
  font-style: italic;
  color: #0071b4;
  font-size: 25px;
  font-family: system-ui;
  color: #d1d9de;
  margin-bottom: 20px;
}
.star {
  display: inline-block;
  margin-top: 16px;
  width: 20%;
  /* float: right; */
}
.all {
  display: inline-block;
  font-size: 20px;
}
.content {
  width: 100%;
  height: 20%;
  margin-left: 26px;
  margin-right: 20px;
  margin-top: 44px;
  margin-bottom: 30px;
}
.block1 {
  display: inline-block;
  background-color: white;
  border: 2px slategrey;
  /* border-color: #d1d9de; */
  width: 33%;
}
.number1 {
  /* font-style: italic; */
  color: #0071b4;
  font-family: sans-serif;
  font-size: 150%;
}
.block2 {
  display: inline-block;
  background-color: white;
  border: 1px sloid;
  border-color: #d1d9de;
  width: 33%;
}
.number2 {
  /* font-style: italic; */
  color: #0071b4;
  font-family: sans-serif;
  font-size: 150%;
}
.block3 {
  background-color: white;
  border: 1px sloid;
  border-color: #d1d9de;
  display: inline-block;
  width: 27.5%;
}
.number3 {
  /* font-style: italic; */
  color: #0071b4;
  font-family: sans-serif;
  font-size: 150%;
}
.contents {
  border: 2px solid;
  background-color: white;
  padding: 13px 71px;
  width: 81%;
  height: 50%;
  margin-left: 20px;
  margin-bottom: 26px;
}
.content1 {
  border-bottom: 1px solid;
  /* justify-content: center;
  display: inline-block; */
  width: 108%;
}
.parent1 {
  border-bottom: 1px solid;
}
.content2 {
  border-bottom: 1px solid;
  width: 108%;
}

.btn {
  display: inline-block;
  width: 27px;
  border-radius: 5px;
  background-color: green;
  color: #d1d9de;
  border-color: white;
}
.text {
  align-self: center;
  display: inline-block;
}
.btn1 {
  border-radius: 5px;
  width: 27px;
  border-color: white;
  display: inline-block;
  background-color: #d1d9de;
  border-color: black;
}
.image1 {
  top: 0%;
  float: left;
}
.image2 {
  top: 0%;
  float: left;
}
.image3 {
  top: 0%;
  float: left;
}

/* .content1,
.content2,
.content3 > div {
  display: inline-block;
} */

.content-wrapper1 {
  display: inline-block;
}
.content-wrapper2 {
  display: inline-block;
}
.content-wrapper3 {
  display: inline-block;
}
